<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <header>
                <h1>Thanks for using Cereal!</h1>
            </header>
        </section>
    </div>
</div>
